div{

    .bg-custom{
        background-color: #043783;
    }

    p{
        text-align: right;
        margin-right: 3rem;
    }

    .fs-5{
        font-family: Arial, Helvetica, sans-serif;

        .whiteLink{
            color: white;
            text-decoration: none;

            &:hover{
                color: black;
            }
        }

        &:hover{
            background-color: white;
        }
    }
}


