.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
    grid-template-areas: 
        "main       main        main        aside1       aside1"
        "main       main        main        aside2       aside2"
        "article1   article2    article2    aside3       aside3"
    ;
    margin-top:5%;
    margin-bottom: 15%;


    main{
        grid-area: main;
        background-color: aquamarine;
    }

    .aside1{
        grid-area: aside1;
        align-items: center;
        justify-items: center;
        background-color: bisque;
    }

    .aside2{
        grid-area: aside2;
        align-items: center;
        justify-items: center;
        background-color: blueviolet;
    }

    .aside3{
        grid-area: aside3;
        align-items: center;
        justify-items: center;
        background-color: chocolate;
    }

    .article1{
        grid-area: article1;
        background-color: darkblue;
    }

    .article2{
        grid-area: article2;
        background-color: chartreuse;
    }
}